<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()}>
    <.live_title suffix=" · СЬЛРЖАЛСЧ">
      <%= assigns[:page_title] || "ЦИТАТНИК" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body>
    <%= if not is_nil(assigns[:breadcrumb]) do %>
      <nav class="flex container mx-auto max-w-lg bg-zinc-800 nav-border">
        <ol class="m-4 inline-flex items-center">
          <%= for {{name, path}, index} <- @breadcrumb |> QuoteBookWeb.Helpers.Breadcrumb.to_list() |> Stream.with_index() do %>
            <li class="inline-flex items-center">
              <.link class="inline-flex items-center" href={path}>
                <%= unless index == 0 do %>
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <% end %>
                <%= name %>
              </.link>
            </li>
          <% end %>
        </ol>
      </nav>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
